%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et


{erl_opts,
    [
        debug_info,
        warn_export_all,
        warning_as_error,
        {i, "include"},
        {src_dirs, ["src"]}
    ]
}.

{deps,
    [
        {meck,       ".*", {git, "https://github.com/eproxus/meck.git"}},
        {chronica,   ".*", {git, "https://github.com/eltex-ecss/chronica.git"}},
        {pt_scripts, ".*", {git, "https://github.com/eltex-ecss/pt_scripts.git"}}
    ]
}.
